{% extends "base.html" %}

{% block start %}


<section class="mt-5 pt-5">
    <div class="container" style="background-image: url(https://images.pexels.com/photos/2954199/pexels-photo-2954199.jpeg?auto=compress&cs=tinysrgb&w=600)">
       
        <table class="table">
        <thead>
          <tr>
            <th scope="col" style="color: chocolate ;">S.NO</th>
            <th scope="col"style="color: chocolate ;">Blog title</th>
            <th scope="col"style="color: chocolate ;">Created at</th>
            <th scope="col" style="color: chocolate ;">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for blog in blog_objs %}
          <tr>
            <th scope="row">{{forloop.counter}}</th><br>
            <td style=" color: rgb(159, 110, 208); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{blog.title}}</td>
            <td>{{blog.created_at}}</td>
            <td>
                <a href="{%  url 'blog_update' blog.slug %}" class="btn btn-info">Update</a>
                <a href="{% url 'blog_delete' blog.id %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          {% endfor %}
         

          </tbody>
          </table>
          
    </div>
</section>



{% endblock %}